.card {
  margin-top: 20px;
  text-align: center;
  padding-top:10px;
  padding-bottom:10px;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  clip-path: circle();
  border: 10px;
  border-color: black
}

.following {
  margin-top: 10px;
}

#search {
  margin-top: 30px;
}

form {
  text-align: center;
}

input {
  margin-left: 10px;
}

#addingRes {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}



