.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.card {
  padding: 10px;
}

.BtnBoard {
  margin-top:20px;
  border-top: 1px solid #efefef;
}

.fa-github {
  font-size: 20px;
}

.btn-social {
  margin-top: 10px;
  color: black;
}
