.card {
  margin-top: 50px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

#self {
  margin-top:50px;
  margin-bottom: 30px;
}

#username {
  font-size: 1.5em;
}

#hLD {
  margin-bottom: 10px;
}

.avatart-boarder {
  text-align: center;
}

.selfHeadline {
  font-size: 20px;
}

.avatar {
  vertical-align: middle;
  width: 150px;
  clip-path: circle();
}

input {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#update {
  text-align: center;
}

button {
  margin-top:10px;
}
