.article {
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 30px;
}

#newPostPart {
  margin-top: 50px;
  margin-left: 30px;
  margin-bottom: 30px;
  text-align: center;
}

#searchPart {
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 30px;
}

textarea {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#newPost {
  margin-top: 20px
}

#searchFilter {
  margin-left: 15px;
  width: 80%;
}

#img {
  margin-left:auto;
  margin-right:auto;
  width: 80%;
}

.Ypffh {
    background: 0 0;
    border: 0;
    color: #262626;
    height: 18px;
    max-height: 80px;
    width: 580px;
    outline: 0;
    padding: 0;
    resize: none;
}

.commentBtn {
  background-color: white;
  padding: 0;
  border: 0;
  outline: 0;
  width: 20px;
  height: 20px;
  color: rgb(52, 58, 64);
  margin:0;
  margin-right: 4px;
  float: right;
}

.sH9wk {
  border-top: 1px solid #efefef;
  color: #999;
  flex-shrink: 0;
  font-size: 14px;
  line-height: 18px;
  margin-top: 10px;
  padding-bottom: 0px;

}

#commentArea{
  margin-bottom: 13px;
  margin-top:13px;
}

.post-body {
  padding-bottom: 0px;
}

.search-body {
  padding-bottom: 0px;
}

.far {
  font-size: 20px;
}

.header {
  padding:14px;
  padding-bottom: 10px;
  background-color: white;
}

.postAuthorAvatar {
  vertical-align: middle;
  width: 40px;
  clip-path: circle();
  margin-right: 10px;
}

.editCommentBtnArea {
  float: right;
}

.editCommentBtn {
  color: rgb(52, 58, 64);
}
