<div class="frame">
  <h3>New Post</h3>
    <div id="mypost">
        <form (ngSubmit)="Post(post.dirty)" #post=ngForm>
          <textarea id="newPost" name="newPost" rows="5" cols="50" [(ngModel)]="newText" placeholder="What's on your mind?........."></textarea>
          <br>
          <div class="input-group mb-3" id="img">
              <div class="custom-file">
                <input type="file" class="custom-file-input" name="newImg" id="inputGroupFile02">
                <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose an Image</label>
              </div>
              <div class="input-group-append">
                <span class="input-group-text" id="inputGroupFileAddon02">Upload</span>
              </div>
            </div>
            <button type="reset" class="btn btn-primary" id="post">Cancel</button>
            <button type="submit" class="btn btn-primary" id="post">Post</button>
        </form>
    </div>
</div>
<div class = "frame" id="search">
  <form class="form-inline my-2 my-lg-0" (ngSubmit)="search()" #seachForm="ngForm">
    <input class="form-control mr-sm-2" type="search"  name="search" id='searchFilter' placeholder="Search" [(ngModel)]="searchFor" aria-label="Search" size=95%>
    <button *ngIf="isSearch" class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
    <button *ngIf="!isSearch" class="btn btn-primary my-2 my-sm-0" type="submit">Back</button>
  </form>
  <span *ngIf='!isSearch && keyword != null && keyword.length > 0' id='keyword'>searching for {{keyword}}</span>
</div>

<div *ngIf="!isSearch" class="row">
  <div *ngFor="let result of searchResults" class="col-lg-3">
    <div class="post">
      <div *ngIf="result.img" class= 'pic'>
        <img class="card-img-top" src="{{result.img}}">
      </div>
      <div class="card-body">
        <p class="card-text">{{result.text}}</p>
        <p><b>Time</b>: {{result.time}}</p>
        <p><b>Author</b>: {{result.author}}</p>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              commenets
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div *ngFor="let comment of result.comment" class="dropdown-item" >{{comment}}</div>
              <button  class="btn btn-primary">Comment</button>
            </div>
          </div>
        <button class="btn btn-primary">Edit</button>
        <br/>
      </div>
     </div>
  </div>
</div>

<div *ngIf="isSearch" class="row ">
  <div *ngFor="let post of articles" class="col-lg-3">
    <div class="post">
      <div *ngIf="post.img" class= 'pic'>
        <img class="card-img-top" src="{{post.img}}">
      </div>
      <div class="card-body">
        <p class="card-text">{{post.text}}</p>
        <p><b>Time</b>: {{post.time}}</p>
        <p><b>Author</b>: {{post.author}}</p>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              commenets
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div *ngFor="let comment of post.comment" class="dropdown-item" >{{comment}}</div>
              <button  class="btn btn-primary">Comment</button>
            </div>
          </div>
        <button  class="btn btn-primary">Edit</button>
        <br/>
      </div>
    </div>
</div>
