<div class="card" id="newPostPart">
  <div class="card-body">
    <h3>New post</h3>
    <form (ngSubmit)="Post(post.dirty)" #post=ngForm>
      <div class="form-group">
        <textarea class="form-control"  name="newPostText" rows="5"  placeholder="what is in your mind?...." id="newPost" [(ngModel)]="newText"></textarea>
      </div>
      <div class="input-group mb-3" id="img">
        <div class="custom-file">
          <input type="file" class="custom-file-input" name="newImg" id="inputGroupFile02">
          <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose an Image</label>
        </div>
        <div class="input-group-append">
          <span class="input-group-text" id="inputGroupFileAddon02">Upload</span>
        </div>
      </div>
      <button type="reset" class="btn btn-outline-dark" id="reset">Cancel</button>
      <button type="submit" class="btn btn-outline-dark" id="post">Post</button>
    </form>
  </div>
</div>

<div class="card" id="searchPart">
  <div class="card-body">
    <form class="form-inline my-2 my-lg-0" (ngSubmit)="search()" #seachForm="ngForm">
      <input class="form-control mr-sm-2" type="search"  name="search" id='searchFilter' placeholder="Search" [(ngModel)]="searchFor" aria-label="Search">
      <button *ngIf="isSearch" class="btn btn-outline-dark my-2 my-sm-0" type="submit" id="search">Search</button>
      <button *ngIf="!isSearch" class="btn btn-outline-dark my-2 my-sm-0" type="submit">Back</button>
    </form>
    <p *ngIf='!isSearch && keyword != null && keyword.length > 0' id='keyword' class="card-text">searching for {{keyword}}</p>
  </div>
</div>

<div *ngIf="!isSearch" class="row">
  <div *ngFor="let result of searchResults" class="col-lg-12">
    <div class="article">
      <div class="header testSearch">
        <div>
          <img class="postAuthorAvatar" src={{result.author?.avatar}}>
          <span id="searchAuthor"><b>{{result?.author.username}}</b></span>
        </div>
      </div>
      <div class="card">
        <div *ngIf="result?.picture" >
          <img class="card-img-top" src="{{result?.picture}}">
        </div>
        <div class="card-body search-body">
          <p class="card-text search-res">{{result?.body}}</p>
          <p><b>Time</b>: {{result?.date}}</p>
          <div *ngFor="let comment of result.comments">
            <b>{{comment.author}}</b>  {{comment.body}}
          </div>
          <div class="sH9wk">
            <form id="commentArea">
              <textarea aria-label="Add a comment…" placeholder="Add a comment…" class="Ypffh" autocomplete="off" autocorrect="off" style="height: 18px;"></textarea>
              <button type="submit" class="commentBtn"><i class="far fa-comment-alt"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isSearch" class="row">
  <div *ngFor="let post of articles" class="col-lg-12">
    <div class="article">
      <div class="header">
        <div>
          <img class="postAuthorAvatar" src={{post.author?.avatar}}>
          <span><b>{{post?.author.username}}</b></span>
        </div>
      </div>
      <div class="card">
        <div *ngIf="post?.picture" >
          <img class="card-img-top" src="{{post?.picture}}">
        </div>
        <div class="card-body post-body">
          <p class="card-text">{{post?.body}}</p>
          <p><b>Time</b>: {{post?.date}}</p>
          <div *ngFor="let comment of post.comments">
            <b>{{comment.author}}</b>  {{comment.body}}
          </div>
          <div class="sH9wk">
            <form id="commentArea">
              <textarea aria-label="Add a comment…" placeholder="Add a comment…" class="Ypffh" autocomplete="off" autocorrect="off" style="height: 18px;"></textarea>
              <button type="submit" class="commentBtn"><i class="far fa-comment-alt"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
