.container {
  margin-top: 120px;
}

.avatar {
  vertical-align: middle;
  width: 150px;
  clip-path: circle();
}

#avatar {
  margin-top:15px;
  margin-bottom:20px;
}

#portrait {
  padding: 20px;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.card {
  padding: 10px;
}

#accountName {
  margin-left: 30px;
  font-size:20px;
}

#avatar {
  text-align: center;
}
