<app-nav></app-nav>
  <div class="container">
  <div class="row col-lg-12">
    <div class="left-container col-lg-6">
      <div class="card">
        <div class="card-body">
          <h1>Current Info</h1>
          <div id="avatar">
            <img class="avatar" src="{{userAvatar}}">
          </div>
          <div class="input-group mb-3">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile02" accept="image/*" (change)="handleImageChange($event)">
              <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02" id="fileName">Choose file</label>
            </div>
            <div class="input-group-append">
              <span class="input-group-text" id="inputGroupFileAddon02" (click)="updateImage()">Upload</span>
            </div>
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              <b>Account Name</b>:<span class="profileContent"> {{userAccountName}}</span>
              <button [disabled]="!canLink" type="button" class="btn btn-outline-dark linkBtn" data-toggle="modal" data-target="#exampleModal" data-whatever="@link">Link Account</button>
            </li>
            <div >
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <div class="modal-title" id="exampleModalLabel">
                        <h5 >Link your account</h5>
                        Do you have already had a ricebook account? If yes, you can link with it without lossing your two accounts' data
                      </div>
                      <button type="button" class="close" id="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form (ngSubmit)="linkSubmit(logForm.valid)" #logForm="ngForm">
                        <div class='form-group'>
                          <label for="uname">Username: </label>
                          <input type="text" id="uname" class="form-control" name="uname" [(ngModel)]="username" #uname=ngModel required>
                            <div *ngIf="uname.invalid && (uname.dirty || uname.touched)" class="alert alert-danger">
                              <div *ngIf="uname?.errors.required">
                                Account Name is required.
                              </div>
                            </div>
                        </div>
                        <div class='form-group'>
                          <label for="upass">Password: </label>
                          <input type="password" id="upass" class="form-control" name="upass" [(ngModel)]="password" #upass=ngModel required>
                          <div *ngIf="upass.invalid && (upass.dirty || upass.touched)" class="alert alert-danger">
                            <div *ngIf="upass?.errors.required">
                                Password is required.
                            </div>
                          </div>
                        </div>
                        <button type="submit" class="btn btn-primary" id='loginBtn'>Link now</button>
                        <div *ngIf="isSubmit">
                          <div *ngIf="isLogin !== undefined">
                              <div *ngIf="!isLogin" class="alert alert-danger" id="login-error">
                                  The username or password is incorrect
                                </div>
                                <div *ngIf="isLogin" class="alert alert-success" id="login-success">
                                  link account success!
                                </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--<li class="list-group-item"><b>Display Name: {{user?.displayName}}</li>-->
            <li class="list-group-item"><b>Email:</b> <span class="profileContent">{{userEmail}}</span></li>
            <li class="list-group-item"><b>Phone Number</b>: <span class="profileContent">{{userPhoneNumber}}</span></li>
            <li class="list-group-item"><b>Date of Birth</b>: <span class="profileContent">{{userDob}}</span></li>
            <li class="list-group-item"><b>Zipcode</b>: <span class="profileContent">{{userZipcode}}</span></li>
            <li class="list-group-item">
            <i class="fab fa-github"></i> :
              <span *ngIf="github" class="profileContent">{{githubAccount}}</span>
              <button *ngIf="github" [disabled]="canLink" type="button" class="btn btn-outline-dark linkBtn" (click)="unlinkGithub()">Unlink</button>
            </li>
            <!--<li class="list-group-item"><b>Password: {{user?.password}}</li>-->
          </ul>
        </div>
      </div>
    </div>

    <div class="right-container col-lg-6">
      <div class="card">
        <div class="card-body">
          <h1>Update Info</h1>
          <form  #updateForm="ngForm" (ngSubmit) = "onSubmit(updateForm.valid)" >
            <!--<div class='form-group'>
              <label for="displayName">Display Name:</label>
              <input type="text" id="displayName" class="form-control" name="displayName" [(ngModel)]="displayNameText">
            </div>-->
            <div class='form-group'>
              <label for="email">Email Address: </label>
              <input type="text" id="email" class="form-control" name="email" #email=ngModel [(ngModel)]="emailText" email>
              <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                <div *ngIf="email?.errors.email">
                  Please enter a valid email
                </div>
              </div>
            </div>
            <div class='form-group'>
              <label for="phoneNumber">Phone Number: </label>
              <input type="tel" id="phoneNumber" class="form-control" name="phoneNumber" #phoneNumber=ngModel [(ngModel)]="phoneNumberText" placeholder="012-345-6789" pattern="\d{3}-\d{3}-\d{4}">
              <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="alert alert-danger">
                <div *ngIf="phoneNumber?.errors.pattern">
                  Please enter valid phone number
                </div>
              </div>
            </div>
            <div class='form-group'>
              <label for="zipcode">Zipcode: </label>
              <input type="text" id="zipcode" class="form-control" name="zipcode" #zipcode=ngModel [(ngModel)]="zipcodeText" pattern="\d{5}$|\d{5}-\d{4}$">
              <div *ngIf="zipcode.invalid && (zipcode.dirty || zipcode.touched)" class="alert alert-danger">
                <div *ngIf="zipcode?.errors.pattern">
                  please enter valid zipcode
                </div>
              </div>
            </div>
            <div class='form-group'>
              <label for="password">Password: </label>
              <input id="password" type="password" class="form-control" name="password1"  #password1=ngModel [(ngModel)]="password1Text">
            </div>
            <div class='form-group'>
              <label for="passwordConfirmation">Password Confirmation: </label>
              <input id="passwordConfirmation" type="password" class="form-control" name="password2" #password2=ngModel [(ngModel)]="password2Text">
              <div *ngIf="(password1.dirty) && (password2.pristine || password1Text != password2Text)" class="alert alert-danger">
                <div *ngIf="password2.pristine">
                  Please confirm your password
                </div>
                <div *ngIf="password2.dirty && password1Text != password2Text">
                  Your two passwords are not identical
                </div>
              </div>
            </div>
            <input id="timestamp" type="hidden" name="timestamp">
            <button type="submit" class="btn btn-outline-dark" [disabled]="(!updateForm.form.valid) || (password1.dirty) && (password2.pristine || password1Text != password2Text) ">Update Info</button>
            <button type="reset" class="btn btn-outline-dark">Reset</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
