.container {
  margin-top: 120px;
}

.avatar {
  vertical-align: middle;
  width: 150px;
  clip-path: circle();
}

#avatar {
  margin-top:15px;
  margin-bottom:20px;
}

#portrait {
  padding: 20px;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.card {
  padding: 10px;
}

#accountName {
  margin-left: 30px;
  font-size:20px;
}

#avatar {
  text-align: center;
}

.fa-github {
  font-size: 23px;
}

.fa-plus {
  font-size: 20px;
  float: right;
  color:  #262626;
}

.fa-minus {
  font-size: 20px;
  float: right;
  color:  #262626;
}

.fa-exclamation {
  font-size: 10px;
  margin-left: 10px;
  margin-top:auto;
  margin-bottom: auto;
  float: right;
}

.linkBtn {
  font-size: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 0;
  float: right;
}

